<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <!-- Lightbox CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <!-- Lightbox JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox-plus-jquery.min.js"></script>
</head>
<body>
    <header>
        <h1>Durga Machine Embroidery and Tailoring</h1>
    </header>

    <main>
        {{ content }} <!-- Page content will be inserted here -->
    </main>

    <footer>
        
    </footer>
</body>
</html>